/* Top navigation bar */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");

.navbar {
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 20px;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif;
}


.navbar a:hover {
    background-color: #575757;
    border-radius: 5px;
}

.cover {
    width: 100%;
    max-height: 1100px;
    display: block;
    margin-top: 30px;
    position: relative; 
    transition: opacity 1s ease-in-out;
    z-index: -1; 
}


body {
    margin: 0;
    padding: 0;
    background-color: #A8E6CF;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.redirector {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}


