@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");

.navbar {
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 20px;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif;
}


.navbar a:hover {
    background-color: #575757;
    border-radius: 5px;
}


body {
    margin: 0;
    padding: 0;
    background-color: #A8E6CF;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    overflow-x: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.title {
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    letter-spacing: 8px;
    word-spacing: 12px;
}

a.showback {
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    margin: 0 20px;
    background-color: white;
    font-family: 'Quicksand', sans-serif;
}
a:hover.showback {
    background-color: #575757;
    color: white;
    border-radius: 5px;
}

.footer-content {
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 20px;
    justify-content: center;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
}
.footer-content p {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    overflow-wrap: anywhere;
}



